* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif
}

.loading_wrapper {
    padding: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 24px;
    height: 100vh;
}

.weather_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    color: white;
}

.waiting {
    font-size: 80px;
}

.loading_wrapper p {
    font-size: 40px;
    color: white;
}

.rain_today {
    font-size: 240px;
    color: white;
}
